html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
p, a, h1 {
    margin: 0;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
ul {
    position: relative;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
}
.logo-container {
    text-align: center; 
    width: 100%;
}
.logo-container:active {
    opacity: 50%;
}
.logo {
    border-radius: 55px 55px 55px 55px;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.167);
}
.name {
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
}
.logout {
    text-align: center;
    font-size: 1.2em;
    -webkit-tap-highlight-color: transparent;
}
ion-icon {
    margin-left: 20px;
    margin-top: 30px;
    font-size: 40px;
    color: black;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(153, 153, 153);
    opacity: 1; /* Firefox */
}
.back-icon {
    margin: 0;
    float: left;
}
.search-list {
    position: relative;
    margin-top: 4%;
    margin-left: 3%;
}
.search-icon {
    font-size: 30px;
    margin: 0;
}
.search-input {
    position: absolute;
    z-index: 999;
    font-size: 1.3em;
    width: 71%;
    height: 30px;
    bottom: 13%;
    left: 12%;
    text-indent: 4px;
    border-radius: 5px 5px 5px 5px;
    border: 0px;
    background-color: rgb(234, 231, 221);
    outline: none;
}
.search-button {
    position: absolute;
    right: 5%;
    bottom: 5%;
    border: 0px;
    background-color: white;
}
.users {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
.user {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.278);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.39);
    margin-bottom: 7px;
}
.user-image {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 7px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.204);
}
.user-name {
    position: absolute;
    bottom: 45px;
    left: 125px;
    font-size: 1.7em;
}
.check-mark {
    color: rgb(69, 119, 255);
    background-color: white;
    border-radius: 30px 30px 30px 30px;     
    margin: 0;
    bottom: 10px;
    left: 78px;
    position: absolute;
    font-size: 30px;
}
.title {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Manrope', sans-serif;
    margin: 0;
}
.title-web {
    color: rgb(240, 140, 0);
}
.spinner {
    margin-top: 10vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}  
.spinner:after {
    animation: changeContent .8s linear infinite;
    display: block;
    content: "⠋";
    font-size: 80px;
}  
  @keyframes changeContent {
    10% { content: "⠙"; }
    20% { content: "⠹"; }
    30% { content: "⠸"; }
    40% { content: "⠼"; }
    50% { content: "⠴"; }
    60% { content: "⠦"; }
    70% { content: "⠧"; }
    80% { content: "⠇"; }
    90% { content: "⠏"; }
}